# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<API4JDWUpCtmmAH>
LIVEKIT_API_SECRET=<iis9jpimjzernvy8sr7eqTZWwGyFLaxJnfzzaQ2HHdW2A>
LIVEKIT_URL=wss://atlas-lltpmhma.livekit.cloud

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
